<p>This view will now self-destruct</p>
<script>
   try {
       <%= @provider %>
       <%= @user %>
      window.opener.$windowScope.handlePopupAuthentication('<%= @provider %>', <%= @user.to_json.html_safe %>);
   } catch(err) {}
  window.close();
</script>