<p>This view will now close</p>

<script>
   try {
      window.opener.$windowScope.handlePopupAuthentication('<%= current_user.to_json.html_safe %>');
   } catch(err) {
      console.log(err);
   }
  window.close();
</script>