<p>This view will now self-destruct <%= current_user.profile_set %></p>
<script>
   try {
      window.opener.$windowScope.handlePopupAuthentication('<%= current_user %>');
   } catch(err) {
      console.log(err);
   }
  //window.close();
</script>