<header ng-controller="HomeCtrl" class="page-header">
  <div class="container">
    <div class="row">
      <div class="left">
        <a id="logo-container" href="/" class="brand-logo">
            <span class="fa-stack">
						  <i class="fa fa-heart fa-stack-1x"></i>
						  <i class="fa fa-hashtag fa-stack-1x black-text"></i>
						</span>Social Count</a>
      </div>
      <div class="right" ng-lazy-show="currentUser"> 
        <!-- Dropdown Trigger -->
        <a class='dropdown-button waves-effect waves-light btn' data-activates='demoDropdown' dropdown data-hover="false" data-beloworigin="true">
            {{currentUser}}
        </a>
        
        <!-- Dropdown Structure -->
        <ul id='demoDropdown' class='dropdown-content'>
            <li><a ng-click="profile()" class='waves-effect waves-light'>Profile</a></li>
            <li><a ng-click="logout()" class='waves-effect waves-light'>Log Out</a></li>
        </ul>
      </div>
      <div class="right" ng-lazy-show="!currentUser">
          <a class='waves-effect waves-light btn' href='#loginModal' modal open="false" enable-tabs="true">Login</a>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div ng-include="'signup.html'"></div>
  </div>
</header>
