<!--<header>-->

 	<div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large">
      <i class="large mdi-navigation-menu white-text"></i>
    </a>
    <ul>
    	<li ng-click="mode = 1">
          <a class="btn-floating blue darken-1" tooltipped data-position="top" data-delay="40" data-tooltip="Link Accounts">
      			<i class="large fa fa-link white-texte"></i>
      		</a>
      </li>
      <li ng-click="mode = 2">
      		<a class="btn-floating red" tooltipped data-position="top" data-delay="40" data-tooltip="Minimilist View">
	      		<i class="large fa fa-exchange white-texte"></i>
	      	</a>
      </li>
    </ul>
  </div>
        
<!--</header>-->

<h1>{{person}}</h1>
<!--<p>{{advanced}}</p>-->
<div ng-lazy-show="mode == 1">
	<!--<p>{{advanced}}</p>-->
		
      	<ul class="center">
	        <li><span class="btn dash-subs login-btn linkButton" ng-class="{'disabled': advanced['providers'].indexOf('twitter') >= 0}" ng-click="authNetworkAdd('twitter')">Link Twitter <i class="fa fa-twitter"></i></span></li>
	        <li><span class="btn dash-subs login-btn linkButton" ng-class="{'disabled': advanced['providers'].indexOf('facebook') >= 0}" ng-click="authNetworkAdd('facebook')">Link Facebook <i class="fa fa-facebook"></i></span></li>
	        <li><span class="btn dash-subs login-btn linkButton" ng-class="{'disabled': advanced['providers'].indexOf('google_oauth2') >= 0}" ng-click="authNetworkAdd('google_oauth2')">Link Google <i class="fa fa-google"></i></span></li>
	        <li><span class="btn dash-subs login-btn linkButton" ng-class="{'disabled': advanced['providers'].indexOf('instagram') >= 0}" ng-click="authNetworkAdd('instagram')">Link Instagram <i class="fa fa-instagram"></i></span></li>
      	</ul>
        
   
</div>

<div ng-lazy-show="!mode || mode == 2">
	
	<div class="counterclass"><!--Count Class Display adapted and converted to Angular based on http://codepen.io/maggiben/pen/nmIso-->
	  <ul style="list-style-type:none">
			<li class='olist'>
				<div class="odometer"  tooltipped data-position="right" data-delay="40" data-tooltip="Social Count Profile Views">
					<ul class="digits">
						<li class="digit" ng-repeat="n in counterLength track by $index">
							<span class="cou-item profile_counter">
								<ul>
									<li ng-repeat="n in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0] track by $index">{{n}}</li>
								</ul>
							</span>
						</li>
	
						<li class="digit">
							<span class="fa-stack">
							  <i class="fa fa-heart fa-stack-1x"></i>
							  <i class="fa fa-hashtag fa-stack-1x black-text"></i>
							</span>
						</li>
					</ul>
				</div>
			</li>
			<li class='olist' ng-if="advanced.networks.google">
				<div class="odometer"  tooltipped data-position="right" data-delay="40" data-tooltip="Current YouTube Subscriber Count">
					<ul class="digits">
						<li class="digit" ng-repeat="n in counterLength track by $index">
							<span class="cou-item google_counter">
								<ul>
									<li ng-repeat="n in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0] track by $index">{{n}}</li>
								</ul>
							</span>
						</li>
	
						<li class="digit"><i class="fa fa-youtube"></i></li>
					</ul>
				</div>
			</li>
			<li class='olist' ng-if="advanced.networks.twitter">
				<div class="odometer"  tooltipped data-position="right" data-delay="40" data-tooltip="Current Twitter Follower Count">
					<ul class="digits">
						<li class="digit" ng-repeat="n in counterLength track by $index">
							<span class="cou-item twitter_counter">
								<ul>
									<li ng-repeat="n in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0] track by $index">{{n}}</li>
								</ul>
							</span>
						</li>
	
						<li class="digit"><i class="fa fa-twitter"></i></li>
					</ul>
				</div>
			</li>
			<li class='olist' ng-if="advanced.networks.instagram">
				<div class="odometer"   tooltipped data-position="right" data-delay="40" data-tooltip="Instagram Count Coming Soon">
					<ul class="digits">
						<li class="digit" ng-repeat="n in counterLength track by $index">
							<span class="cou-item instagram_counter">
								<ul>
									<li ng-repeat="n in [' ', 'N', 'A', 3, 4, 5, 6, 7, 8, 9, 0] track by $index">{{n}}</li>
								</ul>
							</span>
						</li>
	
						<li class="digit"><i class="fa fa-instagram"></i></li>
					</ul>
				</div>
			</li>
			<li class='olist' ng-if="advanced.networks.facebook">
				<div class="odometer"   tooltipped data-position="right" data-delay="40" data-tooltip="Facebook Count Coming Soon">
					<ul class="digits">
						<li class="digit" ng-repeat="n in counterLength track by $index">
							<span class="cou-item facebook_counter">
								<ul>
									<li ng-repeat="n in [' ', 'N', 'A', 3, 4, 5, 6, 7, 8, 9, 0] track by $index">{{n}}</li>
								</ul>
							</span>
						</li>
	
						<li class="digit"><i class="fa fa-facebook"></i></li>
					</ul>
				</div>
			</li>
		</ul>
		
		<!--<button ng-click="okgo();">Increment</button> count: <span id="sprouto">{{count}}</span>-->
	</div>
</div>
